s2g/DATA/BOBS
s2g/DATA/BOOT_Y
s2g/DATA/BOOT_Z
s2g/DATA/BOOTBOBS
# s2g/DATA/CBOB
s2g/DATA/CREDITS
s2g/DATA/EDITBOB
s2g/DATA/IO
s2g/DATA/MAP_0_Y
s2g/DATA/MAP_0_Z
s2g/DATA/MAP_1_Y
s2g/DATA/MAP_1_Z
s2g/DATA/MAP_2_Y
s2g/DATA/MAP_2_Z
s2g/DATA/MAP00
s2g/DATA/MAP01
s2g/DATA/MAP02
s2g/DATA/MAPBOBS
s2g/DATA/MAPBOBS0
s2g/DATA/MAPBOBS1
## s2g/DATA/MBOB
s2g/DATA/MBOB/AFR_*
s2g/DATA/MBOB/JAP_*
# s2g/DATA/MBOB/ROM_*
s2g/DATA/MBOB/VIK_*
s2g/DATA/MBOB/WAFR_*
s2g/DATA/MBOB/WJAP_*
# s2g/DATA/MBOB/WROM_*
s2g/DATA/MBOB/WVIK_*
s2g/DATA/MIS0BOBS
s2g/DATA/MIS1BOBS
s2g/DATA/MIS2BOBS
s2g/DATA/MIS3BOBS
s2g/DATA/MIS4BOBS
s2g/DATA/MIS5BOBS
s2g/DATA/SOUNDDAT
